body {
  font-family: Arial, sans-serif;
  background-color: #0a0a23;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: fff;
}

#health, #monsterHealth {
  width: 200px;
  height: 20px;
}

#combatLog {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  height: 100px;
  overflow-y: auto;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#stats {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

#monsterStats {
  display: none;
  border: 2px solid #ff4d4d;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #660000;
}

progress {
  width: 100px;
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background: #444;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background: #4caf50;
  border-radius: 5px;
}

#monsterHealthBar::-webkit-progress-value {
  background: #e74c3c; /* red for monster */
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}